<div class="container d-flex flex-column justify-content-between">
    <h1 class="text-center fw-bold">Humidity</h1>

    <div *ngIf="!dataLoaded" class="spinner">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="dataLoaded && (data == null || lastData == null)" class="row">
        <app-card [backgroundColor]="'var(--color-morado)'">
            <div class="card-title text-center">No Humidity Data Available</div>
        </app-card>
    </div>

    <div *ngIf="dataLoaded && data != null && lastData != null" class="row">
        <app-card [backgroundColor]="'var(--color-morado)'">
            <div class="card-title">Latest Reading</div>
            <div class="card-value">{{ lastData.value }} %</div>
            <div class="card-date"><span class="fw-bold">Date: </span>{{ data.last_reading }}</div>
            
            <!-- Agregar indicador de estatus con icono y texto -->
            <div class="card-indicator d-flex align-items-center gap-2">
                <div class="status-circle" [ngClass]="{
                        'status-danger': lastData.value > 85 && lastData.value <= 100,
                        'status-warning': lastData.value >= 70 && lastData.value <= 85,
                        'status-success': lastData.value >= 60 && lastData.value < 70,
                    }">
                    <mat-icon class="status-icon">
                        {{ getHumidityIcon(lastData.value) }}
                    </mat-icon>
                </div>
                <span class="status-text fw-bold fs-3" [ngClass]="{
                        'text-danger': lastData.value > 85,
                        'text-warning': lastData.value >= 70 && lastData.value <= 85,
                        'text-success': lastData.value >= 60 && lastData.value < 70,
                    }">
                    {{ getHumidityStatus(lastData.value) }}
                </span>
            </div>
        </app-card>

        <div class="row m-0 p-0">
            <app-card class="col-12 col-md-6 col-lg-6 mt-3" [backgroundColor]="'var(--color-morado)'">
                <div class="card-title">Max</div>
                <div class="card-value">{{ data.max }} %</div>
            </app-card>

            <app-card class="col-12 col-md-6 col-lg mt-3" [backgroundColor]="'var(--color-morado)' ">
                <div class="card-title">Min</div>
                <div class="card-value">{{ data.min }} %</div>
            </app-card>
        </div>

        <app-card class="mt-3" [backgroundColor]="'var(--color-morado)' ">
            <div class="card-title">Average</div>
            <div class="card-value">{{ data.average }} %</div>
        </app-card>
    </div>
</div>
