<app-section-header
  title="Addresses"
  [route]="'/dashboard/addresses/registration'"
  [imgRoute]="'/recursos-web/baby-icon.png'"
></app-section-header>

<div class="cols">
  <div class="flex-container">
    @for (address of addresses; track address) {
      <app-address-card 
        [id]=address.id
        [state]="address.state"
        [city]="address.city"
        [neighborhood]="address.neighborhood"
        [street]="address.street"
        [number]="address.number"
        [zip_code]="address.zip_code"
      />
    }
  </div>
</div>

<mat-paginator 
  [length]="totalItems"
  [pageSize]="pageSize"
  (page)="onPageChange($event)"
  aria-label="Select page">
</mat-paginator>