<app-card>
    <div class="row">
        <div class="col-6 p-0 text-start">
            <div class="d-flex align-items-center">
                <h3 class="fw-bold">Incubator {{ id }}</h3>
            </div>
        </div>
        <div class="col-6 fw-bold p-0 text-end">
            <p>{{ date }}</p>
        </div>
    </div>
    <div class="row p-0 mt-3">
        <div class="col-12 col-md-6 p-0">
            <div class="d-flex align-items-center ms-3">
                <mat-icon>child_friendly</mat-icon>
                <p class="mb-0 ms-2">{{ baby }}</p>
            </div>
            <div class="d-flex align-items-center ms-3 mt-2">
                <mat-icon>medical_services</mat-icon>
                <p class="mb-0 ms-2">{{ nurse }}</p>
            </div>
            <div class="d-flex align-items-center ms-3 mt-2">
                <mat-icon>meeting_room</mat-icon>
                <p class="mb-0 ms-2">{{ room_number }}</p>
            </div>
            <div class="d-flex align-items-center ms-3 mt-2">
                <mat-icon [ngClass]="{
                    'text-success': state === 'available',
                    'text-danger': state === 'active',
                  }">
                    {{ getStateIcon(state) }}
                </mat-icon>
                <p class="mb-0 ms-2">{{ state }}</p>
            </div>
        </div>
        <div class="col-12 col-md-6 p-0 mt-3 mt-md-0">
            <div class="d-flex justify-content-end gap-3 p-0">
                <button mat-fab color="primary" [routerLink]="['/dashboard/incubators',id]">
                    <mat-icon>visibility</mat-icon>
                </button>
                
                <!-- Botón de edición (oculto para nurse) -->
                <button 
                    *ngIf="showEditButton"
                    mat-fab 
                    color="accent" 
                    [routerLink]="['/dashboard/incubators',id ,'edit']"
                >   
                    <mat-icon>edit</mat-icon>
                </button>
                
                <!-- Botón de eliminación (oculto para nurse) -->
                <button
                    *ngIf="showDeleteButton"
                    mat-fab
                    color="warn" 
                    (click)="delete(id)"
                >
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</app-card>