<app-section-header 
  title="Check Detail" 
  [route]="'/dashboard/checks/list'"
  [imgRoute]="'/recursos-web/list-text.png'"
></app-section-header>

@if (!dataLoaded) {
  <div class="spinner">
    <mat-spinner></mat-spinner>
</div>
}

<div *ngIf="dataLoaded" class="check-card">
  <app-card>
    <div class="row">
      <div class="col-12 head">
        <h3>{{ title }}</h3>
      </div>
      <div class="col-12 head mt-4">
        <p class="text-end"> <span class="fw-bold">Date:</span> {{ date }}</p>
      </div>
    </div>
    <div class="icon-title-container">
      <img src="recursos-web/incubator-rosa.png" class="icons">
      <p>Incubator {{ incubator }}</p>
    </div>
    <div class="icon-title-container">
      <img src="recursos-web/baby-icon-rosa.png" class="icons">
      <p>{{ baby }}</p>
    </div>
    <div class="icon-title-container">
      <img src="recursos-web/nurse-icon-rosa.png" class="icons">
      <p>{{ nurse }}</p>
    </div>
    <div class="description">
      <h5>Description</h5>
      <p>{{ description }}</p>
    </div>
  </app-card>
</div>