mat-icon {
    color: var(--color-rosa-claro);
    
}

.domain {
    height: 60px;
    width: 60px;
    
}

.id {
    background-color: var(--color-rosa);
    color: var(--color-morado);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

::ng-deep .ngx-pagination {
    background: none !important; 
    border: none !important; 
    box-shadow: none !important;
    padding: 0;
}

::ng-deep .ngx-pagination .current {
    color: var(--color-rosa-claro) !important;
    background-color: transparent !important;
    font-weight: bold !important;
}

::ng-deep .ngx-pagination li {
    margin: 0 5px;
    color: var(--color-morado) !important;
    cursor: pointer;
    background: none !important;
    border: none !important;
}

::ng-deep .ngx-pagination li:hover {
    background-color: var(--color-rosa) !important;
    border-radius: 20px !important;
}

::ng-deep .ngx-pagination a {
    text-decoration: none !important;
    color: var(--color-morado) !important;
    background: none !important;
    border: none !important;
}

::ng-deep .ngx-pagination a:hover {
    background-color: var(--color-rosa) !important;
    border-radius: 20px !important;
}


.spinner {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep mat-spinner circle {
    stroke: var(--color-violeta) !important;
}
