<div class="card">
  <div class="card-head">
      <div class="id-conainer">
          <p>{{ id }}</p>
      </div>
      <p class="date">Date</p>
  </div>
  <div class="street-container">
      <img class="icons" src="/recursos-web/street-icon.png">
      <p>{{ street }} {{ number }}</p>
  </div>
  <div class="neighbourhood-container">
      <img class="icons" src="/recursos-web/neighbourhood-icon.png">
      <p>{{ state }}, {{ city }}, {{ neighborhood }}, {{ zip_code }}</p>
  </div>
  <div class="link-buttons">
      <button [routerLink]="['/dashboard/addresses/update', id]" routerLinkActive="router-link-active">
          <img class="icons" src="/crud-icons/eye-icon.png">
      </button>
      <button [routerLink]="['/dashboard/addresses/update', id]" routerLinkActive="router-link-active">
          <img class="icons" src="/crud-icons/pencil-icon.png">
      </button>
      <button [routerLink]="['/dashboard/addresses/list/delete', id]" routerLinkActive="router-link-active">
          <img class="icons" src="/crud-icons/trash-icon.png">
      </button>
  </div>
</div>