<div class="container d-flex flex-column justify-content-between">
    <h1 class="text-center fw-bold">Movement</h1>

    <div *ngIf="!dataLoaded" class="spinner">
        <mat-spinner></mat-spinner>
    </div>

    <div *ngIf="dataLoaded && (data == null || lastData == null)" class="row">
        <app-card [backgroundColor]="'var(--color-morado)'">
            <div class="card-title text-center">No Movement Data Available</div>
        </app-card>
    </div>

    <div *ngIf="dataLoaded && data != null && lastData != null" class="row">
        <app-card [backgroundColor]="'var(--color-morado)'">
            <div class="card-title">Latest Reading</div>
            <div class="card-value"><p *ngIf="lastData.value == 0">No movement</p><p *ngIf="lastData.value == 1">Movement detected</p></div>
            <div class="card-date"><span class="fw-bold">Date: </span>{{ data.last_reading }}</div>
        </app-card>
    </div>
</div>