<app-section-header 
    title="Incubator Detail" 
    [route]="'/dashboard/incubators/list'"
    [imgRoute]="'/recursos-web/list-text.png'"
>
</app-section-header>

@if (!dataLoaded) {
<div class="spinner">
    <mat-spinner></mat-spinner>
</div>
}

<div class="row mt-4">
    <div class="col-12 col-lg-4">
        <app-card class="w-100">
            <div class="row gy-3 px-1"> 
                <div 
                    class="col-12 d-flex align-items-center gap-2 menu-container p-2"
                    [routerLink]="['/dashboard/incubators/', id]"
                >
                    <mat-icon>info</mat-icon>
                    <p class="fw-bold m-0">General Information</p>
                </div>

                <div
                    *ngFor="let item of sensorsEntries"
                    class="col-12 d-flex align-items-center gap-2 menu-container p-2"
                    [routerLink]="['/dashboard/incubators/', id, item.url]"
                    [relativeTo]="route"
                    >
                    <mat-icon>{{ item.icon }}</mat-icon>
                    <p class="fw-bold m-0">{{ item.label }}</p>
                </div>
            </div>
        </app-card>
    </div>
    
    <div class="col-12 col-lg-6 mx-auto">
        <app-card class="custom-card d-flex flex-column justify-content-center align-items-center">
            <router-outlet></router-outlet>
        </app-card>
    </div>
</div>