<app-card [backgroundColor]="'#2E073F'">
        <div class="row">
            <div class="d-flex align-items-center ms-3">
                <mat-icon class="text-white">tag</mat-icon>
                <p class="text-white mb-0 ms-2">{{ id }}</p>
            </div>
            <div class="d-flex align-items-center ms-3">
                <mat-icon class="text-white">child_friendly</mat-icon>
                <p class="text-white mb-0 ms-2">{{ baby_full_name }}</p>
            </div>
            <div class="d-flex align-items-center ms-3 mt-2">
                <mat-icon class="text-white">medical_services</mat-icon>
                <p class="text-white mb-0 ms-2">{{ nurse_full_name }}</p>
            </div>
            <div class="d-flex align-items-center ms-3 mt-2">
                <mat-icon [ngClass]="{
                    'text-success': state === 'available',
                    'text-danger': state === 'active',
                  }">
                    {{ getStateIcon(state) }}
                </mat-icon>
                <p class="text-white mb-0 ms-2">{{ state }}</p>
            </div>
        </div>
</app-card>