<app-card [backgroundColor]="'var(--color-rosa)'">
        <div class="row">
            <div class="d-flex align-items-center ms-3">
                <mat-icon >tag</mat-icon>
                <p class="mb-0 ms-2">{{ id }}</p>
            </div>
            <div class="d-flex align-items-center ms-3">
                <mat-icon>child_friendly</mat-icon>
                <p class="mb-0 ms-2">{{ baby_full_name }}</p>
            </div>
            <div class="d-flex align-items-center ms-3 mt-2">
                <mat-icon >medical_services</mat-icon>
                <p class="mb-0 ms-2">{{ nurse_full_name }}</p>
            </div>
            <div class="d-flex align-items-center ms-3 mt-2">
                <mat-icon [ngClass]="{
                    'text-success': state === 'available',
                    'text-danger': state === 'active',
                  }">
                    {{ getStateIcon(state) }}
                </mat-icon>
                <p class="mb-0 ms-2">{{ state }}</p>
            </div>
        </div>
</app-card>