<h1 class="fw-bold mb-4" style="color: var(--color-morado);">Checks</h1>

@if (!dataLoaded) {
  <div class="spinner">
    <mat-spinner></mat-spinner>
</div>
} @else {

  <div class="row" *ngIf="checks.length == 0">
      <div class="card-title text-center" style="color: var(--color-morado);"><h2 class="fw-bold">No Checks</h2></div>
  </div>

  <div class="row" *ngIf="checks.length > 0">
    <ng-container *ngFor="let check of checks">
      <div class="col-lg-6 col-sm-12 mt-3">
        <app-check-card
          [baby]="check.baby"
          [checkid]="check.check_id"
          [date]="check.created_at"
          [description]="check.description"
          [incubator]="check.incubator"
          [title]="check.title"
        ></app-check-card>
      </div>
    </ng-container>
    <mat-paginator [length]="totalItems" [pageSize]="pageSize" (page)="onPageChange($event)"
        aria-label="Select page">
    </mat-paginator>
  </div>
}

<div class="d-flex justify-content-end">
