.user-management {
    display: flex;
    height: 100vh;
  }
  
  .content {
    margin-left: 16.5625rem; 
    padding: 1rem;
    flex-grow: 1;
    transition: margin-left 0.5s ease;
  }
  
  .content.collapsed {
    margin-left: 5rem; 
  }
  
  table {
    width: 100%;
    margin-top: 1rem;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #7A1CAC;
    color: black;
  }
  
  tr:nth-child(even) {
    background-color: #f3f3f3;
  }
  
  tr:hover {
    background-color: #e0e0e0;
  }
  
  button {
    margin-right: 8px;
  }