/* Ajustes para móviles */
@media (max-width: 768px) {
    .ms-3 {
        margin-left: 1rem !important;
        /* Ajusta el margen izquierdo en móviles */
    }

    .mt-3 {
        margin-top: 1rem !important;
        /* Ajusta el margen superior en móviles */
    }
}

.spinner {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}