/* Ajustes para móviles */
@media (max-width: 768px) {
    .ms-3 {
        margin-left: 1rem !important;
        /* Ajusta el margen izquierdo en móviles */
    }

    .mt-3 {
        margin-top: 1rem !important;
        /* Ajusta el margen superior en móviles */
    }
}

.spinner {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep mat-spinner circle {
    stroke: var(--color-violeta) !important;
}

::ng-deep .mat-mdc-paginator {
    background-color: transparent !important;
    color: var(--color-violeta) !important;
}

::ng-deep .mat-mdc-paginator-navigation-previous,
::ng-deep .mat-mdc-paginator-navigation-next {
    color: var(--color-violeta) !important;
    background-color: transparent !important;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

::ng-deep .mat-mdc-paginator-navigation-previous:hover,
::ng-deep .mat-mdc-paginator-navigation-next:hover {
    background-color: rgba(122, 28, 172, 0.1) !important;
}

::ng-deep .mat-mdc-paginator-navigation-previous:focus,
::ng-deep .mat-mdc-paginator-navigation-next:focus {
    outline: 2px solid var(--color-violeta) !important;
    background-color: rgba(122, 28, 172, 0.2) !important;
}

::ng-deep .mat-mdc-paginator .mdc-button__label,
::ng-deep .mat-mdc-paginator .mat-mdc-select-value-text,
::ng-deep .mat-mdc-paginator .mat-mdc-icon-button {
    color: var(--color-violeta) !important;
}

::ng-deep .mat-mdc-paginator .mat-mdc-select-arrow {
    color: var(--color-violeta) !important;
}

::ng-deep .mat-mdc-paginator .mdc-button {
    border: 1px solid #7A1CAC !important;
    border-radius: 5px;
}