select {
    border-radius: 100px;
    height: 50px;
    border-color: var(--color-morado);
    padding: 0 2rem;
    color: var(--color-morado);
    border: 1px solid var(--color-morado);
    background-color: white;
    font-family: inherit;
    width: 100%;
    appearance: none;
}a

select::after {
    font-size: 1rem;
    color: var(--color-morado-form);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

select option {
    color: var(--color-morado-form);
    background-color: #fff;
}

/*  Estilos espec铆ficos para la opci贸n seleccionada */
select:focus,
select option:checked {
    font-weight: bold; /* Se puede agregar negrita si se desea */
    color: var(--color-morado); /* Color del texto */
}

.form-label {
    color: var(--color-morado);
    font-weight: bold;
}

/* Ajustes para m贸viles */
@media (max-width: 768px) {
    .ms-3 {
        margin-left: 1rem !important;
        /* Ajusta el margen izquierdo en m贸viles */
    }

    .mt-3 {
        margin-top: 1rem !important;
        /* Ajusta el margen superior en m贸viles */
    }
}

.spinner {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

::ng-deep mat-spinner circle {
    stroke: var(--color-violeta) !important;
}

::ng-deep .mat-mdc-paginator {
    background-color: transparent !important;
    color: var(--color-violeta) !important;
}

::ng-deep .mat-mdc-paginator-navigation-previous,
::ng-deep .mat-mdc-paginator-navigation-next {
    color: var(--color-violeta) !important;
    background-color: transparent !important;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

::ng-deep .mat-mdc-paginator-navigation-previous:hover,
::ng-deep .mat-mdc-paginator-navigation-next:hover {
    background-color: rgba(122, 28, 172, 0.1) !important;
}

::ng-deep .mat-mdc-paginator-navigation-previous:focus,
::ng-deep .mat-mdc-paginator-navigation-next:focus {
    outline: 2px solid var(--color-violeta) !important;
    background-color: rgba(122, 28, 172, 0.2) !important;
}

::ng-deep .mat-mdc-paginator .mdc-button__label,
::ng-deep .mat-mdc-paginator .mat-mdc-select-value-text,
::ng-deep .mat-mdc-paginator .mat-mdc-icon-button {
    color: var(--color-violeta) !important;
}

::ng-deep .mat-mdc-paginator .mat-mdc-select-arrow {
    color: var(--color-violeta) !important;
}

::ng-deep .mat-mdc-paginator .mdc-button {
    border: 1px solid #7A1CAC !important;
    border-radius: 5px;
}