<app-section-header title="Incubators" [route]="'/dashboard/incubators/create'" *ngIf="role === 'admin' || role === 'super-admin'" [imgRoute]="'/crud-icons/plus-icon.png'"/>
<h1 class="fw-bold mb-4" style="color: var(--color-morado);" *ngIf="role !== 'admin' && role !== 'super-admin'">Incubators</h1>
<app-card *ngIf="role === 'admin' || role === 'super-admin'" class="my-5">
    <div class="container">
        <form [formGroup]="formFilter" class="row w-100" (ngSubmit)="onSubmit($event)">
            <div class="col-12 col-md-6 col-lg-3">
                <label for="hospitalSelect" class="form-label">Select a Hospital:</label>
                <select formControlName="hospital_id">
                    <option value="" disabled>Select a hospital</option>
                    <option *ngFor="let hospital of hospitals" [value]="hospital.id">
                        {{ hospital.name }}
                    </option>
                </select>
            </div>
    
            <div class="col-12 col-md-4 col-lg-2 mt-3 mt-lg-0 d-flex align-items-end">
                <app-button text="Search" class="btn-lg w-100" [disabled]="!formFilter.get('hospital_id')?.value"
                    (click)="loadIncubators()">
                </app-button>
            </div>
        </form>
    </div>
</app-card>

<div *ngIf="!dataLoaded" class="spinner">
    <mat-spinner></mat-spinner>
</div>

<div *ngIf="dataLoaded" class="mt-3">
    <div class="row">
        <ng-container *ngIf="incubators.length > 0; else noIncubators">
            <div *ngFor="let incubator of incubators" class="col-12 col-md-6 mb-4">
                <app-incubator-card
                [id]="incubator.id"
                [state]="incubator.state"
                [room_number]="incubator.room_number"
                [nurse]="incubator.nurse"
                [baby]="incubator.baby"
                [date]="incubator.created_at"
                (reloadIncubators)="loadIncubators()"
                (alertDelete)="manageDeletion($event)"
                [showDeleteButton]="role !== 'nurse'"
                [showEditButton]="role !== 'nurse'">
            </app-incubator-card>
            </div>

            <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageIndex]="currentPage"
                (page)="onPageChange($event)" aria-label="Select page">
            </mat-paginator>
        </ng-container>

        <ng-template #noIncubators>
            <div class="col-12 text-center mt-4">
                <p class="text-muted fw-bold fs-5">No incubators available in this hospital.</p>
            </div>
        </ng-template>
    </div>
</div>

<p-toast position="bottom-right" key="br"></p-toast>