<app-card [backgroundColor]="'var(--color-rosa)'">
    <div class="d-flex flex-column flex-md-row w-100">
        <div class="col-12 col-md-9 mb-3 mb-md-0">
            <div class="d-flex align-items-center ms-2 ms-md-3">
                <mat-icon>tag</mat-icon>
                <p class="mb-0 ms-2">{{ id }}</p>
            </div>
            <div class="d-flex align-items-center ms-2 ms-md-3">
                <mat-icon>person</mat-icon>
                <p class="mb-0 ms-2 nombre-completo">{{ name }} {{ last_name_1 }} {{ last_name_2 }}</p>
            </div>
            <div class="d-flex align-items-center ms-2 ms-md-3 mt-2">
                <mat-icon>phone_in_talk</mat-icon>
                <p class="mb-0 ms-2">{{ phone_number }}</p>
            </div>
            <div class="d-flex align-items-center ms-2 ms-md-3 mt-2">
                <mat-icon>alternate_email</mat-icon>
                <p class="mb-0 ms-2 email-texto">{{ email }}</p>
            </div>
        </div>
        
        <div class="col-12 col-md-3">
            <div class="d-flex flex-row flex-md-column justify-content-center align-items-center">
                <button mat-icon-button class="custom-purple-button me-3 me-md-0 mb-0 mb-md-2" [routerLink]="['/dashboard/relatives', id, 'edit']"> 
                    <mat-icon class="icon">edit</mat-icon>
                </button>
                <button mat-icon-button class="custom-purple-button" 
                    mat-fab
                    color="warn" 
                    (click)="delete(id)">
                    <mat-icon class="icon">delete</mat-icon>
                </button>
            </div>
        </div>
    </div>
</app-card>