input {
    border-radius: 100px;
    height: 50px;
    border-color: var(--color-morado);
    padding: 0 2rem;
    color: var(--color-morado);
    border: 1px solid var(--color-morado);
    background-color: transparent;
    font-family: inherit;
    width: 100%;
}

input::placeholder {
    color: var(--color-morado);
    font-weight: lighter;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-morado);
}